* {
    margin:0;
    padding:0;
     font-family: "Playfair Display", serif;
}
.main_box{
    background-image: url("photo.jpg");
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}
.btn_one i{
    color: white;
    position:absolute;
    left:16px;
     font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    transition: all 0.3s linear;
}
.sidebar_menu{
    position:fixed;
    left:-300px;
    height:100vh;
    width: 300px;
    background-color:rgba(255,255,255,0.1);
    box-shadow: 0px 0px 6px rgba(255,255,255,1);
    transition: all 0.3s linear;
}
.btn_two{
    color:grey;
    opacity: 0.5;
    position: absolute;
    left: 93%;
   
    transition: all 0.4s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width:100%;
    line-height: 60px;
    height:60px;
    box-shadow:0px 2px 10px rgba(255,255,255,1);
}
.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    color:white;
    text-decoration: none;
    font-size:20px;
    font-weight: 500;
}
.sidebar_menu .menu {
    position:absolute;
    top: 80px;
    width:100%;
    color:white;
}
.sidebar_menu .menu li{
    margin-top:10px;
    padding: 10px 20px;
}
.sidebar_menu .menu li a{
    text-decoration: none;
    color: white;
}
.sidebar_menu .menu li i {
    padding: 0px 10px;
}
.sidebar_menu .social_media{
    position: absolute;
    margin-left: 95px;
    bottom:10px;
}
.sidebar_menu .social_media i{
    color:white;
    margin: 5px;
    opacity:0.5;

}
#check{
    display:none;
}
.btn_two i:hover{
    font-size: 1.2rem;
    opacity:1;
    cursor:pointer;
    transition: all 0.6s linear;
    color:white;
}
.sidebar_menu .menu li:hover{
    color: beige;
    box-shadow: 2px 2px 5px white;
    text-decoration: underline;
    text-decoration-thickness: inherit;
    
}
.sidebar_menu .social_media i:hover{
    font-size: 1.2rem;
    opacity:1;
}
.btn_one i:hover{
    font-size:2rem;
}
#check:checked ~ .sidebar_menu{
    left:0px;
}
#check:checked~ .btn_one{
    opacity:0;
}