body{
    font-family: "Montserrat", sans-serif;
    margin:0;
    background-color: #000;
    color:#fff;
    overflow: hidden;
}
.main{
    display: flex;
    height:100vh;
    padding:0.5rem;
    
}
.sidebar{
    background-color:black;
    width:340px;
    border-radius: 1rem;
    /* 16px=1rem */
    margin-right:0.5rem;

}
.main-content{
    background-color: #121212;
    flex:1;
    border-radius: 1rem;
    /* 16px */
    overflow:auto;
}
.music-player{
    background-color: black;
    position:fixed;
    bottom:0px;
    width:100%;
    height:72px;

}
a{
    text-decoration: none;
    color:white;
}
.nav{
    height:100px;
    padding: 0.5rem 0.75rem;
    background-color: #121212;
    border-radius:  1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-home{
    line-height: 2.5rem;
    padding: 0.5rem 0.75rem;
}
.nav-home i{
    font-size: 1.25rem;
}
.nav-home a{
    font-size: 1rem;
    margin-left: 0.7rem;
}
.nav-search{
    line-height: 2.5rem;
    padding: 0.5rem 0.75rem;
}
.nav-search i{
    font-size: 1.25rem;
}
.nav-search a{
    font-size: 1rem;
    margin-left: 0.7rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
}
.options{
    background-color: #121212;
    border-radius: 1rem;
    display:flex;
    justify-content: space-between;
    padding: 0.5rem 0.75rem;
}
.your-lib{
    opacity:0.5;
}
.your-lib img{
    height:1.5rem;
    width:1.25rem;
}
.your-lib:hover{
    opacity:1;
}
.icons{
    font-size: 1.25rem;
    opacity:0.5;
    margin-right: 1rem;
    display: flex;
}
.icons:hover{
    opacity:1;
}
.box1{
    background-color: #232323;
    height:8rem;
    border-radius:0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
    
}
.box1 .p1{
    font-size: 1rem;
    font-weight: 500;
}
.box1 .p2{
    font-size:0.85rem;
    opacity:0.9rem;
}
.badge{
      border:none;
      background-color: pink;
      margin-top:0.5rem;
      border-radius: 100px;
      height: 1.5rem;
      font-weight:700;
      width:fit-content;
}
.dark-badge{
    background-color:black;
    color:white;
}
.box2{
    background-color: #232323;
    height:8.5rem;
    border-radius:0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.7rem 1rem;
    
}
.box2 .p1{
    font-size: 1.25rem;
    font-weight: 500;
}
.box2 .p2{
    font-size:0.85rem;
    opacity:0.9rem;
}

.sticky-nav{
    position: sticky;
    top:0px;
    background-color: #121212;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 1rem 0rem;
}
.sticky-nav-icons{
    margin-left:0.75rem;
}
.sticky-nav-options{
    display:flex;
    justify-content:center;
    align-items:center;
}
.nav-item{
    margin-right:1rem;
}
.download{
    margin-right:5px;
}
@media (max-width:1000px){
    .hide{
        display:none;
    }
}
